@media (min-width: 768px) {
  html {
    background-image: url(https://picsum.photos/1366/768?blur=3);
    background-repeat: no-repeat;
    background-position: top center;
  }
  #box {
    background-image: url(https://picsum.photos/1366/768?blur=3);
    background-repeat: no-repeat;
    background-position: top center;
  }
}
@media (max-width: 768px) {
  html {
    background-image: url(https://picsum.photos/768/1366?blur=3);
    background-repeat: no-repeat;
    background-position: top center;
  }
  #box {
    background-image: url(https://picsum.photos/768/1366?blur=3);
    background-repeat: no-repeat;
    background-position: top center;
  }
}
body {
  width: 100%;
  min-width: 300px;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
header {
  text-align: center;
  width: 100%;
  box-sizing: content-box;
}
footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding-left: 6px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  border-radius: 10px;
  z-index: -1000;
}
footer svg {
  color: #fff;
}
footer a {
  text-decoration: none;
  color: #fff;
}
#box {
  margin: 0px;
  width: 100%;
  z-index: 1000;
}
.bgcolor {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  background-color: rgba(41, 8, 73, 0.8);
}
.row {
  --bs-gutter-x: 0 !important;
}
button {
  height: 6vw;
  font-size: 2vw !important;
  border-radius: 10px !important;
}
.displayfont {
  font-size: 6vw;
  color: rgba(255, 213, 36, 0.8);
}
.displayclock {
  border-radius: 8px;
  display: flex;
  min-height: 400px;
  height: 30vh;
  flex-direction: column;
  justify-content: space-around;
}
.displaytimer {
  border-radius: 8px;
}
.displayrecord {
  padding: 7px;
  font-size: 2vw !important;
  border-radius: 8px !important;
  color: rgba(236, 182, 2, 1);
  background: linear-gradient(
    0deg,
    rgba(236, 182, 2, 0.6) 10%,
    rgba(0, 0, 0, 0) 100%
  ) !important;
}
.displayrecord .record {
  border-top: 1px dashed rgba(236, 182, 2, 1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 45vw !important;
}
.email-icon .before-hover,
.email-icon:hover .after-hover {
  display: inline;
}
.email-icon .after-hover,
.email-icon:hover .before-hover {
  display: none;
}
.smallbtn {
  font-size: 1.4vw !important;
  height: auto !important;
  background: linear-gradient(
    180deg,
    rgba(236, 182, 2, 1) 10%,
    rgba(41, 8, 73, 0.3) 90%
  ) !important;
  color: #ff0000;
}
.storage {
  height: 36vh;
  min-height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.at-bottom {
  position: fixed;
  width: 100%;
  bottom: 0;
}
