@media (min-width: 768px) {
  #box {
    background-image: url(https://picsum.photos/1366/768?blur=3);
    background-repeat: no-repeat;
    background-position: center;
    background-size: center;
  }
}
@media (max-width: 768px) {
  #box {
    background-image: url(https://picsum.photos/768/1366?blur=3);
    background-repeat: no-repeat;
    background-position: center;
    background-size: center;
  }
}
body {
  width: 100%;
  min-width: 375px;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
header {
  text-align: center;
  width: 100%;
  box-sizing: content-box;
}
footer {
  padding-left: 6px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  border-radius: 10px;
  z-index: -1000;
}
footer svg {
  color: #fff;
}
footer a {
  text-decoration: none;
  color: #fff;
}
#box {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  z-index: 1000;
}
.bgcolor {
  height: 100%;
  margin: 0px;
  background-color: rgba(41, 8, 73, 0.8);
}
.row {
  --bs-gutter-x: 0 !important;
}
button {
  height: 2.6rem;
  font-size: 1rem !important;
}
.displayfont {
  font-size: 2.6rem;
  color: rgba(255, 213, 36, 0.8);
}
.displayclock,
.displaytimer {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  justify-content: space-between;
  min-height: 92.5vh;
}
.displayrecord {
  padding-left: 6px;
  font-size: 1.6vw !important;
  border-radius: 8px !important;
  color: rgba(236, 182, 2, 1);
  background: linear-gradient(
    0deg,
    rgba(126, 97, 1, 0.6) 10%,
    rgba(0, 0, 0, 0) 100%
  ) !important;
}
.displayrecord .record {
  border-top: 1px dashed rgba(236, 182, 2, 1);
  padding: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 33.33%;
  overflow: hidden;
}
.email-icon .before-hover,
.email-icon:hover .after-hover {
  display: inline;
}
.email-icon .after-hover,
.email-icon:hover .before-hover {
  display: none;
}
.smallbtn {
  background: rgba(41, 8, 73, 0.8);
  color: rgba(236, 182, 2, 1);
  border-radius: 10px;
  height: 2rem;
}
.storage {
  height: 24rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.topdiv {
  padding-top: 22vh;
}
