@keyframes on {
  0% {
    width: 25%;
  }
  100% {
    width: 58.33%;
  }
}
@keyframes off {
  0% {
    width: 58.33%;
  }
  100% {
    width: 25%;
  }
}
@media only screen and (min-width: 768px) {
  .animationOn {
    animation-name: on;
    animation-duration: 0.6s;
  }
  .animationOff {
    animation-name: off;
    animation-duration: 0.6s;
  }
}
