@media (min-width: 768px) {
  body {
    background-image: url(https://picsum.photos/1280/720);
  }
}
@media (max-width: 768px) {
  body {
    background-image: url(https://picsum.photos/720/1280);
  }
}
body {
  background-color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-width: 300px;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
div {
  border: 2px solid;
  background-color: rgba(255, 255, 255, 0.3);
}
header {
  text-align: center;
  width: 100%;
  box-sizing: content-box;
}
footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  margin-left: 12px;
}
#box {
  margin: 0px;
  width: 100%;
}
